[Desktop Entry]
Name=NepSaK - The Nepomuk Shell
Name[bg]=NepSaK - Обвивка за Nepomuk
Name[bs]=NepSaK - Nepomuk školjka
Name[cs]=NepSaK - Shell Nepomuku
Name[da]=NepSaK - Nepomuk-skal
Name[de]=NepSaK - Die Nepomuk-Shell
Name[el]=NepSaK - The Nepomuk Shell
Name[en_GB]=NepSaK - The Nepomuk Shell
Name[es]=NepSaK - La consola de Nepomuk
Name[et]=NepSaK - Nepomuki shell
Name[fr]=NepSaK - L'interpréteur Nepomuk
Name[it]=NepSaK - La shell di Nepomuk
Name[nb]=NepSaK – Nepomuk-skallet
Name[nds]=NepSak - De Nepomuk-Konsool
Name[nl]=NepSaK - De shell van Nepomuk
Name[pl]=NepSaK - Powłoka Nepomuk
Name[pt]=NepSaK - A Consola do Nepomuk
Name[pt_BR]=NepSaK - O shell do Nepomuk
Name[sv]=Nepsak - Nepomuks skal
Name[tr]=NepSaK - Nepomuk Kabuğu
Name[uk]=NepSaK — оболонка Nepomuk
Name[x-test]=xxNepSaK - The Nepomuk Shellxx
Name[zh_TW]=NepSaK - The Nepomuk Shell
Comment=The Nepomuk Swiss Army Knife Developer Shell
Comment[bg]=Разширена обвивка на Nepomuk за напреднали
Comment[bs]=Nepomuk razvojna školjka poput švicarskog noža
Comment[cs]=Švýcarský nůž vývojového shellu Nepomuku
Comment[da]=Nepomuks schweizerkniv af en udvikler-skal
Comment[el]=Ο ελβετικός σουγιάς φλοιός Nepomuk για τον προγραμματιστή
Comment[en_GB]=The Nepomuk Swiss Army Knife Developer Shell
Comment[es]=La consola del desarrollador de la navaja del ejército suizo de Nepomuk
Comment[et]=Nepomuki ülivõimas arendajate shell
Comment[fr]=L'interpréteur du développeur « Swiss Army Knife » pour Nepomuk
Comment[it]=La shell dello sviluppatore «swiss army knife» di Nepomuk
Comment[nb]=Nepomuks mangeartede utviklerskall
Comment[nds]=De Nepomuk-Mehrtweck-Programmschrieverkonsool
Comment[nl]=De Nepomuk ontwikkelaarshell die van alle markten thuis is
Comment[pl]=Powłoka programistyczna Nepomuk z funkcjami szwajcarskiego scyzoryka
Comment[pt]=A Consola de Desenvolvimento do Nepomuk
Comment[pt_BR]=O canivete suíço do desenvolvedor do Nepomuk
Comment[sv]=Nepomuks Schweiziska armekniv utvecklingsskal
Comment[uk]=Універсальний оболонка для розробників Nepomuk
Comment[x-test]=xxThe Nepomuk Swiss Army Knife Developer Shellxx
Comment[zh_TW]=Nepomuk 瑞士刀開發者 Shell
Icon=nepomuk
Exec=nepomukshell
Type=Application
Categories=Qt;KDE;Development;
X-DocPath=nepomukshell/index.html
