<?xml version="1.0" encoding="UTF-8"?>
<gui name="nepomukshell"
     version="4"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >

  <MenuBar>
    <Menu name="file" >
      <Action name="create_class" />
      <Action name="create_property" />
      <Action name="create_resource" />
      <Separator />
      <Action name="quit" />
    </Menu>
    <Menu name="view" >
      <Action name="auto_indent" />
      <Separator />
      <Action name="mode_browse" />
      <Action name="mode_query" />
      <Action name="mode_edit" />
    </Menu>
    <Menu name="resource" >
     <text>Resource</text>
     <Action name="resource_delete" />
     <Action name="resource_show_source" />
    </Menu>
  </MenuBar>

  <ToolBar name="mainToolBar" >
    <text>Main Toolbar</text>
    <Action name="create_class" />
    <Action name="create_property" />
    <Action name="create_resource" />
    <Separator />
    <Action name="mode_browse" />
    <Action name="mode_query" />
    <Action name="mode_edit" />
    <Separator />
    <Action name="resource_delete" />
  </ToolBar>

</gui>
